<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Emr Job Report</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="error-report-0.html">Error</a></li>
            <li><a href="info-report-0.html">Info</a></li>
        </ul>
    </div>
</nav>
</body>
</html>
